h1 {
    text-align: center;
}
    
label{
position: relative;
left: 600px;
}
    
input{
position: relative;
left: 600px;
padding: 5px 90px;
}
    
a{
position: relative;
left: 830px;
color: blue;
}
    
button{
background-color: green;
position: relative;
left: 600px;
color: white;
padding: 10px 149px;
}